<div class="cart-container">
    <div>
        <h1>Cart:</h1>
    </div>
    <div class="product-cards">
        {{#each cart.products}}
        <div class="product-card">
            <h2>{{this.pid.title}}</h2>
            <img src={{this.pid.thumbnail.[0]}} alt={{this.pid.title}}>
            <p class="description">Description: {{this.pid.description}}</p>
            <p>Price: {{this.pid.price}}</p>
            <p>Stock: {{this.pid.stock}}</p>
            <p>Code: {{this.pid.code}}</p>
            <p>Category: {{this.pid.category}}</p>
            <p>Status: {{this.pid.status}}</p>
            <p>ID: {{this.pid._id}}</p>
            <p>Quantity: {{this.quantity}}</p>
        </div>
        {{/each}}
    </div>

    <button id="purchaseButton">Purchase</button>

</div>

<script src="/js/purchase.js"></script>
