<h1>Profile de {{this.user.userName}}</h1>

{{!-- <p>First name: {{this.user.firstName}}</p>
<p>Last name {{this.user.lastName}}</p>
<p>Birthdate {{this.user.birthDate}}</p> --}}

<p>Email {{this.user.email}}</p>
<p>Role: {{this.user.role}}</p>

<button id="logoutButton">Logout</button>

<script src="./socket.io/socket.io.js"></script>
<script src="./js/logout.js"></script>